#menu {
	top: 0px;
	left: 0px;
	height: 44px;
	background-color: #5C9D98;

	/*border-bottom: solid 1px #666666; /* */
	/*box-shadow: 0px 3px 10px 2px #ccc; /* */
	/*-moz-box-shadow: 3px 3px 5px 6px #ccc; /* */
	/*-webkit-box-shadow: 3px 3px 5px 6px #ccc; /* */
	/*box-shadow: 3px 3px 5px 6px #ccc;/* */
}

.shadow {

}

.leftMenu {
	margin-left: 2px;
}

.rightMenu {
	margin-right: 2px;
}

.leftMenu li{
	float: left;
}

.rightMenu li{
	float: right;
}

.menuList li{
	margin-right: 1px;
	margin-top: 3px;
	text-align: center;
	border-radius: 3px;
	background-color: #CCCCCC;
}





