

.taxonomyNode {
	/*width: 30px;/* */
	min-height: 30px;
	margin: 1px;
	/*background-color: #CCEE99; /* */
	text-align: left;
	padding-left: 5px;
}

.nodeLabel {
	/*background-color: darkgreen;/* */

}

.toggleIcon {
	height: 30px;
	width: 30px;
	/*border: solid; /* */
	background-color: #5C9D98;
	color: #FFFFFF;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	line-height: 30px;


	border-radius: 2px 3px 4px 5px;

	/*
.color-primary-0 { color: #236863 }
.color-primary-1 {
	color: #000000
}

.color-primary-2 {
	color: #043431
}

.color-primary-3 {
	color: #5C9D98
}

.color-primary-4 {
	color: #D8FFFC
}
/* */


}

.nodeLabelActionButton {
	height: 30px;
	width: 30px;
	background-color: #EEEEEE;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	line-height: 30px;
	margin-left: 5px;
	border-radius: 4px;
}


.nodeIcon {
	height: 30px;
	width: 30px;
	/*border: solid; /* */
	background-color: #666666;
	color: #FFFFFF;
	display: inline-block;

	/*border-radius: 2px;/* */

	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	line-height: 30px;
	margin-left: 1px;

	border-radius: 4px;
}

.nodeTitle {

	min-width: 120px;
	/*padding: 0 10px 0 10px;/* */
	display: inline-block;

	height: 30px;

	vertical-align: middle;
	line-height: 30px;
	/*background-color: coral;/* */
	color: #666666;
	margin-left: 5px;
	margin-right: 5px;
}

.minimizeDescription {
	position: absolute;
	top: 0px;
	right: 0px;
}

.nodeDescription {

	padding: 30px 30px 5px 30px;

}

.subNodes {
	/*min-height: 30px;/* */
	padding-left: 30px;
	/*margin: 2px 0 0 0;/* */
	/*background-color: coral; /* */
	/*border: solid;/* */
	/*display: none; /* */
}

